ROBOFLOW_API_KEY=
ALLOW_DEMO_MODE=false

DETECTION_CONFIDENCE=0.30
DETECTION_NMS_IOU=0.45
MAX_DETECTIONS_PER_FRAME=40

VIDEO_INFERENCE_FPS=4.0
VIDEO_OUTPUT_FPS=15.0
VIDEO_MAX_INFERENCE_CALLS=240
VIDEO_MAX_DIMENSION=1280
INFERENCE_MAX_DIMENSION=1280
INFERENCE_JPEG_QUALITY=82

MAX_UPLOAD_MB=150
MAX_VIDEO_SECONDS=180
MAX_VIDEO_SOURCE_DIMENSION=3840
